* {
    margin: 0px;
}

body
{
    background-color: #1e1e1e;
    color: white;
    font-family: monospace;
    font-size: 25px;
}

.Bienvenue
{
    color: azure;
}

.credits
{
    color: rgb(152, 152, 153);
}

.orange
{
    color: orange;
}

.blue
{
    color: rgb(157, 157, 255);
}

.red
{
    color: rgba(255, 47, 47, 100);
}

.blé {
    color: wheat;
}

p {
    color: wheat;
}