body
{
    background-color: #1e1e1e;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

.T
{
	color : red;
}

table
{
    border-collapse:collapse;
}

td
{
    border:1px solid rgb(0, 0, 0);
}

.Bienvenue
{
    color: azure;
}
