body
{
    background-color: #1e1e1e;
    color: white;
    font-family: monospace;
    font-size: 25px;
}

.T
{
	color : red;
}

table
{
    border-collapse:collapse;
}

.Bienvenue
{
    color: azure;
}

.textPresentation
{
    color: rgb(238, 83, 83);
}

.ZapoomC
{
    color: blueviolet;
}

.ZapoomS
{
    color: blueviolet;
}

.ZapoomD
{
    color: blueviolet;
}

.ZapoomMC
{
    color: blueviolet;
}

.credits
{
    color: rgb(152, 152, 153);
}
