:root {
  /* light theme */
  --background: white;
  --buttonbackgroundhover: rgba(255, 255, 255, 0.329);
  --font_color: black;
  --button_color: rgb(119, 118, 114);
  --button_color_second: rgb(55, 53, 47);
  --red: red;
  --azure: azure;
  --blue: blue;
  --orange: orange;
  --creditstext: rgb(152, 152, 153);
  --background_button_first: rgba(0, 0, 0, 0);
  --background_button_second: rgba(55, 53, 47, 0.09);
}

:root[data-theme="dark"] {
  /* dark theme */
  --background: #1e1e1e;
  --buttonbackgroundhover: rgba(187, 221, 255, 0.256);
  --font_color: rgb(71,255,178);
  --button_color: rgb(114, 114, 114);
  --button_color_second: rgb(55, 53, 47);
  --azure: rgb(20, 20, 20);
  --blue: rgb(4, 24, 155);
  --orange: white;
  --creditstext: red;
  --background_button_first: rgb(225, 225, 225);
  --background_button_second: rgb(154, 154, 154);
}

* {
  margin: 0px;
  text-rendering: optimizelegibility;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  line-height: 1.5;
}

body {
  background-color: var(--background);
  color: var(--font_color);
}

/* for button in general */

.button {
  margin-top: 2vw;
  margin-left: 2vw;
  font-size: 12px;
  background-color: var(--background_button_first);
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.button:hover{
  background-color: var(--background_button_second);
  cursor: pointer;
}
@media (max-width:380px) {
  .products, .ZapoomS {
    font-size: 6vw;
  }
}

.ZapoomS, .products {
  color: var(--button_color);
}
.ZapoomS:hover, .products:hover {
  color: var(--button_color_second);
}

/* 🌙🌙🌙🌙 for button theme ☀️☀️☀️☀️ */
#icon_theme {
  transition: opacity 0.2s ease-in-out;
}
.fade-out {
  opacity: 0;
}

.button_theme {
  width: 100px;
  margin-top: 2vw;
  margin-left: 2vw;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--button_color);
  border-radius: 9px;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out; /* Ajout de la transition */
	filter: blur(0.5px);
}

.button_theme:hover {
  background-color: var(--back_button_second);
}

/* pour le HEADERRRRRRRR */

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vw;
}

/* pour les lignes de couleurs magnifiques */

.line, .line2, .line3, .line4, .line5{
  position: relative;
  left: 15vw;
  top: -5vw;
  height: 5px;
  width: 100px;
  background-color: blue;
  rotate: 50deg;
  border-radius: 9px;
}
.line {
  top: -5vw;
  background-color: rgb(48, 73, 195);
}
.line2 {
  left: 10vw;
  top: 0vw;
  rotate: 20deg;
  background-color: orange;
}
.line3 {
  left: 85vw;
  top: -3vw;
  rotate: 140deg;
  background-color: lightgreen;
}
.line4 {
  top: -6vw;
  left: 60vw;
  rotate: 95deg;
  background-color: red;
}
.line5 {
  top: -6vw;
  left: 40vw;
  rotate: 85deg;
  background-color: yellow;
}

/* Pour les écrans de moins de 430px (phones) */
/* For screens that are less than 430px (phones) */
@media (max-width: 430px) {
  .underline {
    left: 10vw;
    height: 2vw;
  }
  .line, .line2, .line3, .line4, .line5 {
    width: 10vw;
  }
  .line {
    left: -0vw;
  }
  .line2 {
    top: -5vw;
    rotate: 70deg;
    left: 18vw;
  }
  .line3 {
    top: -4vw;
    left: 85vw;
    rotate: -69deg;
  }
  .line4 {
    top: -7vw;
    left: 67vw;
    rotate: 100deg;
  }
  .line5 {
    top: -9vw;
    left: 44vw;
    rotate: 90deg;
  }
}

/* 1601 962 */
@media (max-width: 1650px) {
  /* .line, .line2, .line3, .line4, .line5 {
    width: 10vw;
  } */
  .line {
    left: -0vw;
  }
  .line2 {
    top: -5vw;
    rotate: 70deg;
    left: 18vw;
  }
  .line3 {
    top: -4vw;
    left: 85vw;
    rotate: -69deg;
  }
  .line4 {
    top: -7vw;
    left: 67vw;
    rotate: 100deg;
  }
  .line5 {
    top: -9vw;
    left: 44vw;
    rotate: 90deg;
  }
}

/* pour les boutons en haut à gauche et en haut à droite*/
.products, header {
  display: flex;
  justify-items: flex-end;
}
.button.products {
  margin-right: 2.2vw;
}

/* for the title h1 on the index.html page */

.title {
  text-align: center;
  font-size: 64px;
  letter-spacing: -2px;
  line-height: 1;
}

/* the underline */
.underline {
  position: relative;
  left: 42vw;
  width: 20vw;
  filter: blur(0.5px);
}

/* for circle */
.c_box { /* div for the macOS buttons */ 
  left: 20vw;
  position: absolute;
  cursor: default;
}
.red, .yellow, .green { /* for the macOS buttons individually */
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: none;
}
.red {
	background-color: #f73b3b;
}
.red:hover {
  background-color: #fc2828;
  cursor: pointer;
}
.yellow {
  background-color: yellowgreen;
}
.yellow:hover {
  background-color: rgb(114, 162, 19);
  cursor: pointer;
}
.green {
  background-color: goldenrod;
}
.green {
  background-color: rgb(194, 141, 5);
  cursor: pointer;
  background-image: url(img/macOS/maximize_hover.svg);
  background-size: cover;
}

/* ZapoomS window title */
.ZapoomS_macos {
  position: absolute;
  top: 0.7vw;
	left: 11vw;
  cursor: text;
}

@media (max-width: 900px) {
  .ZapoomS_macos {
    top: 1vw;
    left: 12vw;
  }
}
@media (max-width: 720px) {
  .ZapoomS_macos {
    top: 0vw;
    left: 25vw;
  }
}






p {
  color: var(--font_color);
}

/* to remove the underline in link */

.anone {
  text-decoration: none;
}