:root {
    --background: white;
    --buttonbackground: rgba(0, 0, 0, 0.329);
    --buttonbackgroundhover: rgba(0, 0, 0, 0.5);
    --font_color: #292929;
    --red: red;
    --azure: azure;
}

:root[data-theme="dark"] {
    --background: #1e1e1e;
    --buttonbackground: rgba(187, 221, 255, 0.256);
    --buttonbackgroundhover: rgba(169, 169, 169, 0.5);
    --font_color: rgb(71,255,178);
    --azure: rgb(20, 20, 20);
}

* {
    margin: 0px;
}

body
{
    background-color: var(--background);
    color: var(--font_color);
    font-family: monospace;
    font-size: 25px;
}

.Bienvenue
{
    color: var(--azure);
}

.credits
{
    color: rgb(152, 152, 153);
}

.orange
{
    color: orange;
}

.blue
{
    color: rgb(157, 157, 255);
}

.red
{
    color: rgba(255, 47, 47, 100);
}

.wheat {
    color: rgb(143, 93, 0);
}

p {
    color: var(--font_color);
}

.button {
  padding: 10px 20px;
  /* text-transform: uppercase; */
  border-radius: 8px;
  font-size: 17px;
  font-weight: 800;
  color: wheat;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
  cursor: pointer;
}

#dwlnd-btn {
    background-color: darkgreen;
}

#dwnld-btn:hover {
  color: #ffffff;
  background: #005e35;
  box-shadow: 0 0 5px #008cff
              0 0 20px #008cff,
              0 0 50px #008cff,
              0 0 100px #008cff;
}

#buttontheme {
    margin-left: 5px;
    margin-top: 3px;
    background-color: var(--buttonbackground);
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

#buttontheme:hover {
    background-color: var(--buttonbackgroundhover);
}

.buttonthemeimg {
    height: 28px;
    width: 26px;
}

.stepdownloadZapoomL {
    /* margin-top: 10px; */
}

.anone {
    text-decoration: none;
}

/* for the little cute thing in index.html */
.loader {
 position: relative;
 width: 2.5em;
 height: 2.5em;
 transform: rotate(165deg);
}

.loader:before, .loader:after {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 display: block;
 width: 0.5em;
 height: 0.5em;
 border-radius: 0.25em;
 transform: translate(-50%, -50%);
}

.loader:before {
 animation: before8 2s infinite;
}

.loader:after {
 animation: after6 2s infinite;
}

@keyframes before8 {
 0% {
  width: 0.5em;
  box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }
 35% {
  width: 2.5em;
  box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
 }
 70% {
  width: 0.5em;
  box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
 }
 100% {
  box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }
}

@keyframes after6 {
 0% {
  height: 0.5em;
  box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
 35% {
  height: 2.5em;
  box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
 }
 70% {
  height: 0.5em;
  box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
 }
 100% {
  box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
}

.loader {
    position: absolute;
    top: 3%;
    left: 95%;
}