@import url('fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');

:root {
    /* light theme */
    --background: white;
    --buttonbackgroundhover: rgba(255, 255, 255, 0.329);
    --font_color: #292929;
    --red: red;
    --azure: azure;
    --blue: blue;
    --orange: orange;
    --creditstext: rgb(152, 152, 153);
    --back_button_first: rgba(0, 0, 0, 0.495);
    --back_button_second: rgb(161, 161, 161);
}

:root[data-theme="dark"] {
    /* dark theme */
    --background: #1e1e1e;
    --buttonbackgroundhover: rgba(187, 221, 255, 0.256);
    --font_color: rgb(71,255,178);
    --azure: rgb(20, 20, 20);
    --blue: rgb(4, 24, 155);
    --orange: white;
    --creditstext: red;
    --back_button_first: rgb(74, 61, 255);
    --back_button_second: rgb(255, 36, 178);
}

* {
  margin: 0px;
  text-rendering: optimizelegibility;
}

body {
  background-color: var(--background);
  color: var(--font_color);
  font-family: Inter,'Inter','Inter Fallback';
  src: url('fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('.ttf');
  font-weight: 500;
  line-height: 1.5;
  font-size: 25px;
}

.title {
  text-align: center;
  font-size: 64px;
  letter-spacing: -2px;
  line-height: 1;
}

/* div {
  cursor: default
} */

/* From Uiverse.io by Jedi-hongbin */ 
.icon {
  margin-left: 2.5svw;
}

.back_button {
  position: absolute;
  top: 6%;
  left: 4%;
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 50px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
}

.back_button > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

.back_button:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

.back_button:hover {
 box-shadow: 9px 9px 33px var(--back_button_first), -9px -9px 33px var(--back_button_second);
 transform: translateY(-2px);
}

#button_theme {
  background-color: rgba(123, 241, 239, 0.797);
  height: 6vw;
  width: 6vw;
  border-radius: 21px;
  margin-left: 2vw;
  margin-top: 2vw;
}

@media (max-width: 580px) {
  #buttontheme {
    height: 10vw;
    width: 10vw;
  }
}

#button_theme:hover {
  background-color: var(--buttonbackgroundhover);
  cursor: pointer;
}

.credits
{
  color: var(--creditstext);
}

.orange
{
  color: var(--orange);
}

.blue
{
  color: var(--blue);
}

.red
{
  color: rgba(255, 47, 47, 100);
}

.wheat {
  color: rgb(143, 93, 0);
}

p {
  color: var(--font_color);
}

.anone {
  text-decoration: none;
}